@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap";
@-webkit-keyframes responce {
  0% {
    height: 0;
  }
  100% {
    height: 3rem;
  }
}
@keyframes responce {
  0% {
    height: 0;
  }
  100% {
    height: 3rem;
  }
}
@-webkit-keyframes appear {
  0% {
    top: 0;
  }
  100% {
    top: 37%;
  }
}
@keyframes appear {
  0% {
    top: 0;
  }
  100% {
    top: 37%;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(32, 32, 32);
  color: rgb(196, 196, 196);
}

header {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  top: 0;
  background-color: rgb(32, 32, 32);
  z-index: 999;
}
header #title {
  display: flex;
  align-items: center;
  margin: 1%;
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 310px;
  }
  100% {
    background-position: 310px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 310px;
  }
  100% {
    background-position: 310px;
  }
}
header #title .btn-shine {
  padding: 12px 48px;
  color: #03e9f4;
  background: linear-gradient(to right, rgb(168, 168, 168) 0, #03e9f4 10%, rgb(168, 168, 168) 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 3s infinite linear;
          animation: shine 3s infinite linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 30px;
  text-decoration: none;
  white-space: nowrap;
}
header #title .img {
  margin-right: 10px;
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  overflow: hidden;
}
header #title .img img {
  width: 100%;
  transform: translate(0, -28%);
}
header #links {
  display: flex;
  justify-content: center;
  align-items: center;
}
header #links .nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}
header #links .nav_links[data-visible=true] {
  display: flex;
  opacity: 1;
  transform: translateX(0%);
}
header #links a {
  position: relative;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  color: rgb(196, 196, 196);
  text-decoration: none;
  font-size: 30px;
}
header #links a::after {
  content: "";
  position: absolute;
  top: 95%;
  left: 50%;
  height: 1px;
  width: 0;
  background-color: rgb(196, 196, 196);
  transform: translate(-50%, -50%);
  transition: width 0.3s;
}
header #links a:hover::after {
  width: 90%;
}
header #links .mobile-nav-toggle {
  display: none;
}

.content-responce {
  position: relative;
  display: flex;
  justify-content: center;
}

.responce {
  width: 25vw;
  height: 3rem;
  padding: 3vh;
  background-color: rgba(0, 173, 0, 0.5);
  text-align: center;
  border-radius: 0 0 2rem 2rem;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: responce;
          animation-name: responce;
}
.responce h4 {
  position: absolute;
  top: 37%;
  left: 50%;
  margin: 0;
  transform: translate(-50%);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: appear;
          animation-name: appear;
}

.error {
  background-color: rgba(200, 0, 0, 0.5);
}

.content {
  margin: 2% auto;
}
.content h1 {
  margin: 0 5%;
  font-size: 8vw;
  pointer-events: none;
}
.content p {
  margin: 2% 5%;
  margin-top: 20px;
  color: gray;
  font-size: 1.5em;
  pointer-events: none;
}
.content a {
  margin: 0 5%;
  padding: 5px;
  border-bottom: 1px solid rgb(168, 168, 168);
  color: rgb(196, 196, 196);
  font-size: 1.2em;
  text-decoration: none;
  transition: border-bottom 0.2s, color 0.2s;
}
.content a:hover {
  color: rgb(168, 168, 168);
  border-bottom: 1px solid black;
}
@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
@-webkit-keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
@-webkit-keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
.content .login-box {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  background: rgb(32, 32, 32);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.content .login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(196, 196, 196);
  text-align: center;
}
.content .login-box .form-data {
  display: flex;
}
.content .login-box .user-box {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.content .login-box .user-box input, .content .login-box .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(196, 196, 196);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.content .login-box .user-box input:focus ~ label, .content .login-box .user-box textarea:focus ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.content .login-box .user-box input:valid ~ label, .content .login-box .user-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.content .login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(196, 196, 196);
  pointer-events: none;
  transition: 0.5s;
}
.content .login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}
.content .login-box button:hover {
  background: #03e9f4;
  color: rgb(196, 196, 196);
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}
.content .login-box button span {
  position: absolute;
  display: block;
}
.content .login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}
.content .login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.content .login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.content .login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.content .modal {
  position: relative;
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.content .modal .modal-content {
  background-color: transparent;
  max-width: 400px;
  margin: auto;
  flex: 1;
}
.content .modal .modal-content .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0 15px;
  font-size: 32px;
  cursor: pointer;
}
.content .modal .modal-content .modal-header {
  padding-left: 10px;
  border-bottom: 1px solid rgb(180, 180, 180);
}
.content .modal .modal-content .modal-header h2 {
  margin: 10px;
  font-size: 270%;
  text-align: center;
}
.content .modal .modal-content .modal-body {
  padding: 10px;
  max-height: 90vh;
  overflow-y: auto;
}
.content .modal .modal-content .modal-body form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}
.content .modal .modal-content .modal-body form input {
  margin: 15px;
  padding: 10px;
  width: 35vw;
  font-size: 24px;
  border-radius: 7px;
  border: 1px solid black;
  background-color: rgb(196, 196, 196);
}
.content .modal .modal-content .modal-body form textarea {
  margin: 15px;
  padding: 10px;
  width: 35vw;
  font-size: 24px;
  border-radius: 7px;
  border: 1px solid black;
  height: 25vh;
  background-color: rgb(196, 196, 196);
}
.content .modal .modal-content .modal-body form .infos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.content .modal .modal-content .modal-body form .content_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.content .modal .modal-content .modal-footer {
  padding: 25px;
  border-top: 1px solid rgb(180, 180, 180);
  text-align: center;
}
.content .modal .modal-content .btn {
  margin: 10px auto;
  padding: 7px;
  border: none;
  border-radius: 5px;
  background-color: rgb(109, 109, 109);
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.content .modal.show {
  visibility: visible;
  opacity: 1;
}
.content h2 {
  margin: 3% 5%;
  font-size: 4em;
  pointer-events: none;
}
.content .competences {
  max-width: 100%;
}
.content .competences h3 {
  margin: 2% 5%;
  text-align: center;
  font-size: 3em;
  pointer-events: none;
}
.content .competences .competence {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}
.content .competences .competence .content_competence {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: 33em;
  height: 18em;
  background-color: rgb(54, 54, 54);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: transform 0.5s;
}
.content .competences .competence .content_competence:hover {
  transform: scale(1.07, 1.07);
}
.content .competences .competence .content_competence img {
  width: 20%;
}
.content .competences .competence .content_competence h2 {
  color: white;
}
.content .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 50rem;
}
.content .projects .project {
  position: relative;
  margin: 15px;
  padding: 10px;
  width: 33em;
  height: 40em;
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.7s;
}
.content .projects .project:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.content .projects .project .slider {
  position: relative;
}
.content .projects .project .slider img {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.content .projects .project .slider img.active {
  opacity: 1;
}
.content .projects .project h3 {
  font-size: 2em;
}
.content .projects .project p {
  text-align: justify;
  font-size: 1em;
}
.content .projects .project p.desc {
  position: absolute;
  top: 78%;
  left: 0;
}

.mentions {
  margin: 2% 10%;
}
.mentions h1 {
  text-align: center;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(54, 54, 54);
}
footer .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .footer .txt p a {
  color: white;
}
footer .footer .txt h2 {
  font-size: 2em;
  color: white;
}
footer .footer .picture {
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  overflow: hidden;
}
footer .footer .picture img {
  margin: auto;
  width: 100%;
  transform: translate(0, -28%);
}
footer p {
  color: white;
  font-size: 1.5em;
  text-align: center;
}
footer p a {
  color: white;
  text-decoration: none;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header #links {
    flex-direction: column;
    margin: auto;
  }
  header #links .nav_links {
    display: none;
    flex-direction: column;
    opacity: 0;
    transform: translateX(-150%);
  }
  header #links .mobile-nav-toggle {
    display: block;
    background-color: transparent;
    background-image: url("/portfolio/webroot/img/hamburger-icon.svg");
    background-repeat: no-repeat;
    width: 5rem;
    border: 0;
    aspect-ratio: 1.5;
  }
  header #links .mobile-nav-toggle[aria-expanded=true] {
    background-image: url("/portfolio/webroot/img/close.svg");
    z-index: 99999;
  }
  .content .modal .modal-content .modal-body {
    height: 60vh;
  }
  .content .modal .modal-content .modal-body form {
    flex-direction: column;
  }
  .content .modal .modal-content .modal-body form input {
    width: 60vw;
    font-size: 10px;
  }
  .content .modal .modal-content .modal-body form textarea {
    width: 60vw;
    font-size: 10px;
  }
  .content h2 {
    font-size: 2.5em;
  }
}
@media (max-width: 1731px) {
  .content .projects {
    margin: 0 0 40% 0;
  }
}
@media (max-width: 1156px) {
  .content .projects {
    margin: 0 0 90em 0;
  }
}/*# sourceMappingURL=style.css.map */